html.home
	head
		title= title
		link(rel="stylesheet", href="css/style.css")
	body
		.cover
		div.container 
			.note
				i # Unfortunately, no one can be told what the Matrix is. You have to see it for yourself.
			.login
				h2 Hi, if you wanna check it out please signin
				a(href="/auth/google", class="lgn-btn") 
					i.fa.fa-unlock  
					|  Unlock