doctype html
html(ng-app="Bread")
	head
		title= title
		link(rel="stylesheet", href="/css/style.css")
		meta(name="viewport" content="width=device-width")
	body(ng-controller="MainCtrl")
		if orders.current.length == 0
			if account.level > 0
				div.container
					div Ainda não foram solicitados pedidos de pão.
		else
			.back
			#main
				.head
					h1 Apiki WP - Bread Order Manager
						sup α
					h2(ng-show="user.account.user.level > 0")

						| This table will display all bread orders make sure you have clicked on link sent via email.
					h2(ng-show="user.account.user.level == 0") 
						| Welcome, {{user.account.user.name}} 
					h2(ng-show="user.account.user.level > 0")
						strong {{capaignId}}
				orders-table(orders='orders', ng-show=" orders.length > 0")
				#result.shadow-z-1(ng-show="orders.length >0")
					ask-chart(due='{{due}}', sweet='{{sweet}}', salt='{{salt}}')  
					.count
						.counter
							h4 Salt
							.amount {{salt}}
						.counter
							h4 Sweet
							.amount {{sweet}}
						.counter
							h4 total people
							.amount {{peopleCount}}
						.counter
							h4 Total orders
							.amount {{totalOrders}}
						.counter.saves
							h4 saves
							.amount +{{due}}

						div.advise
							| This capaign will due in 
							strong.high 
								{{dueDate}}
				#profile.shadow-z-1(ng-show="undef")
					div.profile-info
						div.picture
							img(src="", ng-src="{{picture	}}")
						div.name
							{{user.account.user.name}}
							
					div.type
						div.notice-d-choose
							div(ng-hide="flavor")
								p
									| You don't choose any flavor today, check your inbox.
							p(ng-show="flavor") You can alter it by clicking in one of these options below
							p(ng-show="flavor == 'sweet' || flavor == 'salt'")
								| The flavor you've choose today
						div.change(ng-show="flavor == 'sweet'|| flavor == 'salt'")
							label.radio
								input#radio1(type='radio', name='radios', ng-checked='flavor == "salt"')
								span.outer(ng-click="changeTo('salt')")
									span.inner
								| Salty
							label.radio
								input#radio2(type='radio', name='radios', ng-checked='flavor == "sweet"')
								span.outer(ng-click="changeTo('sweet')")
									span.inner
								| Sweet
						div.advise
							| 
							strong Note 
							|This capaign will due in 
							strong.high 
								{{dueDate}}
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js")
		script(src="https://www.gstatic.com/charts/loader.js")
		script(src="/js/bread.js")
