/* -- import Roboto Font ---------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

@import "./font-awesome.css";

@import "./angular-material.min.css";
/* -- You can use this tables in Bootstrap (v3) projects. -- */
/* -- Box model ------------------------------- */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* -- main style ------------------------------- */
html,
body {
	/*position: relative;*/
	min-height: 100%;
	height: 100%;
}

html {
	/*position: relative;*/
	overflow-x: hidden;
	/*margin: 16px;*/
	padding: 0;
	min-height: 100%;
	font-size: 62.5%;
	background: #f5f5f5;
}

body {
	font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 2rem;
	letter-spacing: 0.01rem;
	color: #212121;
	background-color: #f5f5f5;
	/*-webkit-font-smoothing: antialiased;*/
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: : none;
	-webkit-filter: blur(0);
}

table td {
	padding: 0;
}

#main {
	margin: 20px auto;
	max-width: 960px;
	position: relative;
	z-index: 2;
}

.head h1 {
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: 0;
	font-weight: 300;
	color: #fff;
	text-transform: inherit;
	margin-bottom: 1rem;
	text-align: center;
}

.counter {
	display: inline-block;
	width: 25%;
	/* background: red; */
	/* padding: 1em; */
	margin-left: -.4em;
}

.counter h4 {
	font-weight: 300;
	text-transform: uppercase;
}

.amount {
	font-size: 30pt;
	font-weight: 100;
}

.count {
	padding: 1em;
	text-align: center;
}

#result {
	background: #fff;
	overflow: hidden;
}

.counter.saves {
	padding: 2em;
}

.graph {
	width: 30%;
	display: inline-block;
}

.count {
	width: 65%;
	display: inline-block;
}

.head h2 {
	font-size: 1.5rem;
	line-height: 2.8rem;
	letter-spacing: 0.01rem;
	font-weight: 400;
	color: #fff;
	text-align: center;
}

.shadow-z-1 {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
/* -- Material Design Table style -------------- */
#table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 2rem;
	background-color: #fff;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	text-align: left;
	padding: 1.6rem;
	vertical-align: top;
	border-top: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.table > thead > tr > th {
	font-weight: 400;
	color: #757575;
	vertical-align: bottom;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	font-weight: bold;
	cursor: pointer;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
	border-top: 0;
}

.table > tbody + tbody {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table .table {
	background-color: #fff;
}

.table .no-border {
	border: 0;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 0.8rem;
}

.table-bordered {
	border: 0;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 0;
	border-bottom: 1px solid #e0e0e0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f5f5f5;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
	body {
		/*background: red;*/;
	}

	.count {
	display: block;
	top: 1em;
	position: relative;
	width: 100%;
	}

	.graph {
	width: 100%;
	text-align: center;
	}

	#chart {
	margin: 0 auto;
	display: inline-block;
	}

	.back {
	display: none;
	}

	.head h1, .head h2 {
	color: #222;
	}

	.table-responsive-vertical > .table {
	margin-bottom: 0;
	background-color: transparent;
	}

	.table-responsive-vertical > .table > thead,
	.table-responsive-vertical > .table > tfoot {
	display: none;
	}

	.table-responsive-vertical > .table > tbody {
	display: block;
	}

	.table-responsive-vertical > .table > tbody > tr {
	display: block;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	margin-bottom: 1.6rem;
	}

	.table-responsive-vertical > .table > tbody > tr > td {
	background-color: #fff;
	display: block;
	vertical-align: middle;
	/*text-align: right;*/;
	}

	.table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
	content: attr(data-title);
	float: left;
	font-size: inherit;
	font-weight: 400;
	color: #757575;
	}

	.table-responsive-vertical.shadow-z-1 {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}

	.table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
	border: none;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	}

	.table-responsive-vertical > .table-bordered {
	border: 0;
	}

	.table-responsive-vertical > .table-bordered > tbody > tr > td {
	border: 0;
	border-bottom: 1px solid #e0e0e0;
	}

	.table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
	border-bottom: 0;
	}

	.table-responsive-vertical > .table-striped > tbody > tr > td,
	.table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
	background-color: #f5f5f5;
	}

	.table-responsive-vertical > .table-hover > tbody > tr:hover > td,
	.table-responsive-vertical > .table-hover > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical > .table-hover > tbody > tr > td:hover {
	background-color: rgba(0, 0, 0, 0.12);
	padding-left: 2em;
	}
}

.table-striped.table-mc-red > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > th {
	background-color: #fde0dc;
}

.table-hover.table-mc-red > tbody > tr:hover > td,
.table-hover.table-mc-red > tbody > tr:hover > th {
	background-color: #f9bdbb;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-red > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-red > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-red > tbody > tr > td:nth-child(odd) {
	background-color: #fde0dc;
	}

	.table-responsive-vertical .table-hover.table-mc-red > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-red > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-red > tbody > tr > td:hover {
	background-color: #f9bdbb;
	}
}

.table-striped.table-mc-pink > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-pink > tbody > tr:nth-child(odd) > th {
	background-color: #fce4ec;
}

.table-hover.table-mc-pink > tbody > tr:hover > td,
.table-hover.table-mc-pink > tbody > tr:hover > th {
	background-color: #f8bbd0;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-pink > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-pink > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-pink > tbody > tr > td:nth-child(odd) {
	background-color: #fce4ec;
	}

	.table-responsive-vertical .table-hover.table-mc-pink > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-pink > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-pink > tbody > tr > td:hover {
	background-color: #f8bbd0;
	}
}

.table-striped.table-mc-purple > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-purple > tbody > tr:nth-child(odd) > th {
	background-color: #f3e5f5;
}

.table-hover.table-mc-purple > tbody > tr:hover > td,
.table-hover.table-mc-purple > tbody > tr:hover > th {
	background-color: #e1bee7;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-purple > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-purple > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-purple > tbody > tr > td:nth-child(odd) {
	background-color: #f3e5f5;
	}

	.table-responsive-vertical .table-hover.table-mc-purple > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-purple > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-purple > tbody > tr > td:hover {
	background-color: #e1bee7;
	}
}

.table-striped.table-mc-deep-purple > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-deep-purple > tbody > tr:nth-child(odd) > th {
	background-color: #ede7f6;
}

.table-hover.table-mc-deep-purple > tbody > tr:hover > td,
.table-hover.table-mc-deep-purple > tbody > tr:hover > th {
	background-color: #d1c4e9;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-deep-purple > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-deep-purple > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-deep-purple > tbody > tr > td:nth-child(odd) {
	background-color: #ede7f6;
	}

	.table-responsive-vertical .table-hover.table-mc-deep-purple > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-deep-purple > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-deep-purple > tbody > tr > td:hover {
	background-color: #d1c4e9;
	}
}

.table-striped.table-mc-indigo > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-indigo > tbody > tr:nth-child(odd) > th {
	background-color: #e8eaf6;
}

.table-hover.table-mc-indigo > tbody > tr:hover > td,
.table-hover.table-mc-indigo > tbody > tr:hover > th {
	background-color: #c5cae9;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-indigo > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-indigo > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-indigo > tbody > tr > td:nth-child(odd) {
	background-color: #e8eaf6;
	}

	.table-responsive-vertical .table-hover.table-mc-indigo > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-indigo > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-indigo > tbody > tr > td:hover {
	background-color: #c5cae9;
	}
}

.table-striped.table-mc-blue > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-blue > tbody > tr:nth-child(odd) > th {
	background-color: #e7e9fd;
}

.table-hover.table-mc-blue > tbody > tr:hover > td,
.table-hover.table-mc-blue > tbody > tr:hover > th {
	background-color: #d0d9ff;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-blue > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-blue > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-blue > tbody > tr > td:nth-child(odd) {
	background-color: #e7e9fd;
	}

	.table-responsive-vertical .table-hover.table-mc-blue > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-blue > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-blue > tbody > tr > td:hover {
	background-color: #d0d9ff;
	}
}

.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > th {
	background-color: #e1f5fe;
}

.table-hover.table-mc-light-blue > tbody > tr:hover > td,
.table-hover.table-mc-light-blue > tbody > tr:hover > th {
	background-color: #b3e5fc;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td:nth-child(odd) {
	background-color: #e1f5fe;
	}

	.table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr > td:hover {
	background-color: #b3e5fc;
	}
}

.table-striped.table-mc-cyan > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-cyan > tbody > tr:nth-child(odd) > th {
	background-color: #e0f7fa;
}

.table-hover.table-mc-cyan > tbody > tr:hover > td,
.table-hover.table-mc-cyan > tbody > tr:hover > th {
	background-color: #b2ebf2;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-cyan > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-cyan > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-cyan > tbody > tr > td:nth-child(odd) {
	background-color: #e0f7fa;
	}

	.table-responsive-vertical .table-hover.table-mc-cyan > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-cyan > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-cyan > tbody > tr > td:hover {
	background-color: #b2ebf2;
	}
}

.table-striped.table-mc-teal > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-teal > tbody > tr:nth-child(odd) > th {
	background-color: #e0f2f1;
}

.table-hover.table-mc-teal > tbody > tr:hover > td,
.table-hover.table-mc-teal > tbody > tr:hover > th {
	background-color: #b2dfdb;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-teal > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-teal > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-teal > tbody > tr > td:nth-child(odd) {
	background-color: #e0f2f1;
	}

	.table-responsive-vertical .table-hover.table-mc-teal > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-teal > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-teal > tbody > tr > td:hover {
	background-color: #b2dfdb;
	}
}

.table-striped.table-mc-green > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-green > tbody > tr:nth-child(odd) > th {
	background-color: #d0f8ce;
}

.table-hover.table-mc-green > tbody > tr:hover > td,
.table-hover.table-mc-green > tbody > tr:hover > th {
	background-color: #a3e9a4;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-green > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-green > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-green > tbody > tr > td:nth-child(odd) {
	background-color: #d0f8ce;
	}

	.table-responsive-vertical .table-hover.table-mc-green > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-green > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-green > tbody > tr > td:hover {
	background-color: #a3e9a4;
	}
}

.table-striped.table-mc-light-green > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-light-green > tbody > tr:nth-child(odd) > th {
	background-color: #f1f8e9;
}

.table-hover.table-mc-light-green > tbody > tr:hover > td,
.table-hover.table-mc-light-green > tbody > tr:hover > th {
	background-color: #dcedc8;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-light-green > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-light-green > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-light-green > tbody > tr > td:nth-child(odd) {
	background-color: #f1f8e9;
	}

	.table-responsive-vertical .table-hover.table-mc-light-green > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-light-green > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-light-green > tbody > tr > td:hover {
	background-color: #dcedc8;
	}
}

.table-striped.table-mc-lime > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-lime > tbody > tr:nth-child(odd) > th {
	background-color: #f9fbe7;
}

.table-hover.table-mc-lime > tbody > tr:hover > td,
.table-hover.table-mc-lime > tbody > tr:hover > th {
	background-color: #f0f4c3;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-lime > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-lime > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-lime > tbody > tr > td:nth-child(odd) {
	background-color: #f9fbe7;
	}

	.table-responsive-vertical .table-hover.table-mc-lime > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-lime > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-lime > tbody > tr > td:hover {
	background-color: #f0f4c3;
	}
}

.table-striped.table-mc-yellow > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-yellow > tbody > tr:nth-child(odd) > th {
	background-color: #fffde7;
}

.table-hover.table-mc-yellow > tbody > tr:hover > td,
.table-hover.table-mc-yellow > tbody > tr:hover > th {
	background-color: #fff9c4;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-yellow > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-yellow > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-yellow > tbody > tr > td:nth-child(odd) {
	background-color: #fffde7;
	}

	.table-responsive-vertical .table-hover.table-mc-yellow > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-yellow > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-yellow > tbody > tr > td:hover {
	background-color: #fff9c4;
	}
}

.table-striped.table-mc-amber > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-amber > tbody > tr:nth-child(odd) > th {
	background-color: #fff8e1;
}

.table-hover.table-mc-amber > tbody > tr:hover > td,
.table-hover.table-mc-amber > tbody > tr:hover > th {
	background-color: #ffecb3;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-amber > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-amber > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-amber > tbody > tr > td:nth-child(odd) {
	background-color: #fff8e1;
	}

	.table-responsive-vertical .table-hover.table-mc-amber > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-amber > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-amber > tbody > tr > td:hover {
	background-color: #ffecb3;
	}
}

.table-striped.table-mc-orange > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-orange > tbody > tr:nth-child(odd) > th {
	background-color: #fff3e0;
}

.table-hover.table-mc-orange > tbody > tr:hover > td,
.table-hover.table-mc-orange > tbody > tr:hover > th {
	background-color: #ffe0b2;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-orange > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-orange > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-orange > tbody > tr > td:nth-child(odd) {
	background-color: #fff3e0;
	}

	.table-responsive-vertical .table-hover.table-mc-orange > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-orange > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-orange > tbody > tr > td:hover {
	background-color: #ffe0b2;
	}
}

.table-striped.table-mc-deep-orange > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-deep-orange > tbody > tr:nth-child(odd) > th {
	background-color: #fbe9e7;
}

.table-hover.table-mc-deep-orange > tbody > tr:hover > td,
.table-hover.table-mc-deep-orange > tbody > tr:hover > th {
	background-color: #ffccbc;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-deep-orange > tbody > tr > td,
	.table-responsive-vertical .table-striped.table-mc-deep-orange > tbody > tr:nth-child(odd) {
	background-color: #fff;
	}

	.table-responsive-vertical .table-striped.table-mc-deep-orange > tbody > tr > td:nth-child(odd) {
	background-color: #fbe9e7;
	}

	.table-responsive-vertical .table-hover.table-mc-deep-orange > tbody > tr:hover > td,
	.table-responsive-vertical .table-hover.table-mc-deep-orange > tbody > tr:hover {
	background-color: #fff;
	}

	.table-responsive-vertical .table-hover.table-mc-deep-orange > tbody > tr > td:hover {
	background-color: #ffccbc;
	}
}

.back {
	background: #4aa3df;
	height: 23em;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.fix-it .flavored {
	width: 9.65em;
	background: white;
	   /*font-weight: bold;*/;
}

.fix-it .emailed {
	width: 30.8em;
	background: white;
	   /*font-weight: bold;*/;
}

.fix-it .named {
	width: 19.5em;
	background: white;
	   /*font-weight: bold;*/;
}

.fix-it {
	position: fixed;
	width: 100%;
	/* position: relative; */
	top: 0;
	border: #FFFFFF;
	z-index: 99999;
}

.message {
	background: #656161;
	width: 50%;
	margin: 1em auto;
	padding: 1em;
	border-radius: 2px;
	color: #fff;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	padding-left: 4em;
}

.message.already {
	background: #F44336;
}

.message.success {
	background: #4CAF50;
}

.message.already .icon {
	background: #E02D1F;
}

.message.success .icon {
	background: #2F8433;
}

.message .icon {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 3em;
	text-align: center;
	line-height: 3.5em;
}

.high {
	color: red;
}

.lgn-btn {
	position: relative;
	margin: 5em auto;
	display: block;
	display: block;
	text-align: center;
	width: 20%;
	background: rgba(33, 150, 243, 0.44);
	color: #EDF9FF;
	text-decoration: none;
	padding: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 2px;
	font-size: 15pt;
	transition: all .3s ease-in-out;
	font-weight: 300;
	/* border: 2px solid; */;
}

a.lgn-btn:hover {
	background: #F44336;
	color: #fff;
	border-color: #F44336;
}

.note {
	position: fixed;
	bottom: 1em;
	right: .5rem;
	columns: #fff;
}

.home {
	overflow: hidden;
}

@-webkit-keyframes 
profileBootUp {
	0%, 20%, 40%, 60%, 80%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
	-webkit-transform: scale3d(0.97, 0.97, 0.97);
	}

	100% {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	}
}

@keyframes 
profileBootUp {
	0%, 20%, 40%, 60%, 80%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
	-webkit-transform: scale3d(0.97, 0.97, 0.97);
	transform: scale3d(0.97, 0.97, 0.97);
	}

	100% {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
}

#profile {
	-webkit-animation: profileBootUp 0.75s ease-in-out 0.5s;
	animation: profileBootUp 0.75s ease-in-out 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	background-color: #fff;
	opacity: 0;
	-webkit-filter: blur(0);
	-webkit-perspective: 1000;
}

.radio {
	display: inline-block;
	padding-right: 20px;
	font-size: 18px;
	line-height: 2.2em;
	cursor: pointer;
}

.radio:hover .inner {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: .5;
}

.radio input {
	width: 1px;
	height: 1px;
	opacity: 0;
	line-height: 51px;
}

.radio input:checked + .outer .inner {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.radio input:checked + .outer {
	border: 3px solid #4CAF50;
}

.radio input:focus + .outer .inner {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	background-color: #4CAF50;
}

.radio .outer {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin: 10px 10px 10px 0px;
	border: 3px solid #9E9E9E;
	border-radius: 50%;
	background-color: #fff;
}

.radio .inner {
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	width: 12px;
	height: 12px;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	display: block;
	margin: 1px 1px;
	border-radius: 50%;
	background-color: #4CAF50;
	opacity: 0;
}

.profile-info {
	position: relative;
	display: inline-block;
	width: 39%;
}

div#profile {
	position: relative;
	padding: 5em 5em;
	overflow: hidden;
	margin: 1em 0;
}

.picture img {
	border-radius: 50%;
}

.type {
	display: inline-block;
	width: 59%;
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 3.5em 0;
	-webkit-font-smoothing: subpixel-antialiased
}

.cover {
	background: linear-gradient(rgba(255, 235, 59, 0), rgba(255, 235, 59, 0)),url(https://ihabdines.files.wordpress.com/2012/08/oregano-table-starters.jpg);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-size: 100% 100%;
	-webkit-filter: blur(9px);
	/* margin: -5px -10px -10px -5px; */
	transform: scale(1.03);
	overflow: hidden;
	clip-path: rect(5px,295px,295px;
	5px);
}

.login {
	background: rgba(0, 0, 0, 0.17);
	z-index: 999;
	position: relative;
	padding: 4em;
	text-align: center;
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	max-width: 100%;
	top: 0;
	margin: auto;
	height: 100%;
}

.login h2 {
	font-weight: 200;
}