<div class="table-responsive-vertical shadow-z-1">
    <table id="table" class="table table-hover">
        <thead>
            <tr>
                <th class="named" ng-click="order('name')">Name</th>
                <th class="emailed" ng-click="order('email')">Email</th>
                <th class="flavored" ng-click="order('type')">Flavor</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders | orderBy:predicate:reverse">
                <td>{{order.name}}</td>
                <td>{{order.email}}</td>
                <td>{{order.type}}</td>
            </tr>
        </tbody>
    </table>
</div>