<table style="/* border:1px solid #222 */width: 100%;/* background: red; */font-family: Arial;border-spacing: 0;color: #8A8A8A;">
    <thead style="
    border: 1px solid #222;
    font-weight: bold;
    text-transform: uppercase;
">
        <tr style="
    border: 1px solid #222;
"><td style="border-bottom: 3px solid #222;">Tipo</td>
        <td style="border-bottom: 3px solid #222;width: 30%;">Quantidade</td>
    </tr></thead>
    <tbody style="
    font-style: italic;
">
        <tr>
            <td style="/* width:15em; *//* border:1px solid #222; */">Sal</td>
            <td style="/* border:1px solid #222 */">%d</td>
        </tr>
        <tr>
            <td style="/* width:15em; *//* border:1px solid #222 */">Doce</td>
            <td style="/* border:1px solid #222 */">%d</td>
        </tr>
    </tbody>
</table>